profiles {
    pawsey_setonix            { includeConfig "${params.custom_config_base}/conf/profiles/pawsey_setonix.config" }
    singularity               { includeConfig "${params.custom_config_base}/conf/profiles/singularity.config" }
    local                     { includeConfig "${params.custom_config_base}/conf/profiles/local.config" }
}
